.portfolio-div {
  display: inline-table;
}
.name {
  color: azure;
  margin: 10px;
  font-size: 35px;
}
.descripsion {
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
}
.project,  .backend, .frontend{
  background: cadetblue;
  border: 2px solid #005e8e;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 15px;
  position: relative;
  margin-top: auto;
  top: 50px;
  display: inline-table;
}
ul {
  margin-left: -26px;
}
li {
  list-style-type:none;
}
.project, .backend, .frontend {
  height: 100%;
  /* width: auto; */
}
.project h2, .backend h2, .frontend h2 {
  color: azure;
}

.SkateFinder,
.sk8tool,
.Good-Readme,
.Employee,
.Weather,
.Directory {
  height: 30vh;
  box-sizing: border-box;
	position: relative;
	display: inline-block;
	max-width: 100%;
}

.SkateFinder img,
.sk8tool img,
.Good-Readme img,
.Employee img,
.Weather img {
  height: 100%;
  width: auto;
}

.Directory img {
  position: relative;
}

.Directory {
  width: 450px;
}

@media (max-width:993px) {
  .col-5, .col-8 { width: 80% !important }
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }